<ul class="site-header-nav">
  <li class="left"><a id="home" href="/#posts">Home</a></li>
  <li class="left"><a id="notifications" href="#">Notifications</a></li>
  <li class="left"><a id="messages" href="#">Messages</a></li>



  <li class="right"><a id="new-post" href="#new_post">New Post</a></li>

  <li class="right">
    <form id="sign-out" action="/session" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button class="sign-out">Sign Out</button>
    </form>
  </li>

  <li class="right">
    <a id="current-user" href="/#users/<%= Chattr.currentUser.id %>">
    <%= Chattr.currentUser._username %>
    </a>
  </li>

  <li class="right">
    <form id="search" action="#" class="search-chattr" method="POST">
      <input type="search" name="search[string]" placeholder="Search chattr">
    </form>
  </li>

  <li class="middle" id="site-header-logo"><h1>chattr</h1></li>
</ul>
