<header id="site-header" class="site-header group">
	<ul class="site-header-nav">
		<li class="right"><a id="sign-in" href="/#session/new" class="right">Sign In</a></li>
		<li class="right"><a id="sign-up" href="/#users/new" class="right">Sign Up</a></li>
		<li class="middle" id="site-header-logo">
			<%= image_tag("logos/chattr-logo.png") %>
		</li>
	</ul>
</header>