<%= index_profile() %>

<section class="posts-container">
  <header class="title"><h2>Most Popular Hashtags</h2></header>

  <% tags.each( function(tag) { %>
  <article class="post group"data-id="<%= tag.id %>">

    <section class="post-container">

      <section class="post-content">
        <div class="text">
					<a href="#hashtags/<%= tag.id %>">
						#<%= tag.get("tag") %>
					 </a>
				 </div>
      </section>
    </section>
  </article>
  <% }) %>
</section>
