<%= index_profile() %>

<section class="posts-container">
  <header class="title"><h2>Posts tagged with #<%= tag.get("tag") %></h2></header>
  <% posts.each( function(post) { %>
  	<%= postsTemplate({ post: post }) %>
  <% }) %>
</section>