<section class="profile-banner">
	<figure class="banner">
	</figure>
</section>

<section class="profile-nav-ribbon stretch">
</section>

<section class="profile-nav-ribbon">
	<figure class="ribbon">
		<ul class="profile-nav">
			<li class="left">
        <a href="#">Posts</a>
      </li>
			<li class="left">
        <a href="#">Following</a>
      </li>
			<li class="left">
        <a href="#">Followers</a>
      </li>
			<li class="left">
        <a href="#">Favorite Posts</a>
      </li>
			<li class="left">
        <a href="#">Favorite Users</a>
      </li>

			<% if (currentUser.id === user.id) { %>
			  <li class="right">
					<a href="#">Edit</a>
					</li>
			<% } %>
		</ul>
	</figure>
</section>

<main id="main-content">
	<section class="main-user-info">
		<figure class="avatar-large">
			<div></div>
		</figure>
	  <div class="fullname"><%= user.fullname %></div>
	  <div class="username"><%= user._username() %></div>
	  <div class="join-date">Joined <%= user.join_date %></div>
	  <div class="bio"><%= user.bio %></div>
	  <% if (currentUser.id !== user.id) { %>
	    User follow form
	  <% } %>
	</section>
