<%= index_profile() %>

<section class="posts-container">
  <header class="title"><h2>Posts </h2></header>
  <% posts.each( function(post) { %>
  	<%= postTemplate({ post: post }) %>
  <% }) %>
</section>
