<% posts.each( function(post) { %>
  <article class="post">
    <figure class="avatar">
    </figure>
    <section class="post-info group">
      <div class="fullname"><%= post.get("author_fullname") %></div>
      <div class="username"><%= post.get("author_username") %></div>
      <div class="timestamp"><%= post.get("post_timestamp") %></div>
    </section>

    <section class="post-container">
      <section class="post-content">
        <div class="text"><%= post.get("content") %></div>
        <section class="buttons-container">BUTTONS</section>
      </section>
    </section>

  </article>
<% }) %>
