<%= index_profile() %>

<section class="posts-container">
  <header class="title"><h2>Posts</h2></header>
  <% posts.each( function(post) { %>
  	<%= postTemplate({ post: post }) %>
  <% }) %>
</section>

<script>
	$(function () {
		if (Chattr.currentUser.id === 1) {
			$(document).tooltip({
				position: {
					my: "left top",
					at: "left+10 top+40"
				}
			});
			$('.post:last-child .text')
				.text("Welcome! Hover over different elements for helpful tips on using chattr!")
		}
	})
</script>
