<section class="post-container">
  <section class="post-content active">
    <header class="title"><h2>Followers</h2></header>
    <% user.followers.each do |follower| %>
      <div class="user-profiles">
        <%= render 'users/profile', user: follower %>
      </div>
    <% end %>
  </section>
</section>