<section class="posts-container">
  <section class="post-content active">
    <header class="title"><h2>Favorite Posts</h2></header>
      <% user.favorite_posts.each do |post| %>
        <%= render "posts/post", post: post %>
      <% end %>
  </section>
</section>
