<section class="posts-container">
  <section class="post-content active">
    <header class="title"><h2>Following</h2></header>
		<article class="post group">
	    <% user.followed_users.each do |followed_user| %>
	      <div class="user-profiles">
	        <%= render 'users/profile', user: followed_user %>
	      </div>
	    <% end %>
		</article>
  </section>
</section>
