<section class="post-container">
  <section class="post-content active">
    <header class="title"><h2>Posts</h2></div>
    <% user.posts.each do |post| %>
      <%= render 'posts/post', post: post %>
    <% end %>
  </section>
</section>