<form action="<%= posts_url %>" method="POST">
  <%= render 'shared/auth_token' %>
  <input type="hidden"
    name="post[parent_post_id]"
    value="<%= parent_post_id %>">
  <textarea
    placeholder="Compose new Post..."
    name="post[content]"></textarea>
  <button class="submit">Post</button>
</form>