<article class="post">
  <section class="post-info">
    <%= post.author.fullname %> -
    @<%= post.author.username %> -
    <%= time_ago_in_words(post.created_at) %> ago
  </section>
  <section class="post-content">
    <%= post.content %>
  </section>
</article>