/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body, html, header, ul, li, a, div, section, article, form, h1, h2, figure, button {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  background: inherit;
	text-decoration: inherit;
}

button {
  font-size: 12px;
  background: #E8AB00;
  padding: 5px 5px;
  border-radius: 5px;
  color: #154862;
	font-style: italic;
  cursor: pointer;
  outline: 0;
}

input[type='text'],
input[type='password'],
input[type='search'],
textarea {
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  background: white;
}

body {
  position: relative;
  z-index: -1000;
  font-family: sans-serif;
  padding-top: 46px;
  margin: 0 auto;
  background: #567BA8;

}

body.unsigned {
	background-image: image-url("landing-bg.jpg");
	background-size: 100%;
	background-color: black;
	background-repeat: no-repeat;
}

#body-top {
  position: fixed;
  top: 0;
  height: 45px;
  border-bottom: 2px solid #154862;
  width: 100%;
  background: #fff;
}

ul {
  list-style: none;
}

#all-content {
  position: relative;
  z-index: -20;
}

#body-bottom {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding-top: 140 px;
  z-index: -20;
}



.posts-container {
  margin: 10px auto;
  position: relative;
  width: 560px;
  background: transparent;
  border-radius: 5px;
  z-index: 200;
}

.repost-form, .reply-form {
  padding-top: 10px;
  padding-bottom: 20px;
  display: block;
  width: 448px;
  height: 100px;
}

.repost-form.closed, .reply-form.closed {
  display: none;
}

.repost-form textarea, .reply-form textarea {
	border-radius: 5px;
  width: 100%;
  height: 100px;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 10px;
}

.repost-form button, .reply-form button {
  position: absolute;
  display: inline-block;
  float: right;
  right: 20px;
  bottom: 33px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  outline: 0;
}

.char-counter {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
  font-weight: bold;
}

.profile-banner {
  position: relative;
/*  z-index: -100;*/
	width: 100%;
	height: 170px;
	background: transparent;
	border-bottom: 1px solid black;
	overflow: hidden;
	cursor: pointer;
	
	img {
		width: 100%;
		height: auto;
		display: block;
		overflow: hidden;
	}
}

.main-user-info {
	padding-top: 10px;
  position: absolute;
  width: 290px;
  margin: 0 5px;
  float: left;
  border-radius: 5px;
  z-index: -1;
}

.main-user-info figure {
	border: 1px solid #154862;
	width: 200px;
	height: auto;
	border: 5px solid #EEE;
	border-radius: 5px;
	background: #eee	;
}

.avatar-large {
	cursor: pointer;
}

.main-user-info img {
	width: 200px;
	height: auto;
	margin: 0 auto;
	max-height: 200px;
	max-width: 200px;
	display: block;
}

.main-user-info div {
	padding-left: 20px;
	font-size: 16px;
	margin: 10px 0;
	max-width: 180px;
	color: white;
}

.main-user-info .fullname {
	font-weight: bold;
	font-size: 18px;
}

.main-user-info .join-date {
	font-weight: normal;
	font-size: 12px;
}

.main-user-info .bio {
	font-weight: normal;
	font-style: italic;
	font-size: 14px;
}

.main-user-info #user-follow {
	position: relative;
	left: 20px;
	font-weight: bold;
	font-size: 14px;
	padding: 10px;
}

.posts-container {
	border: 1px solid #154862;
}
.posts-container h2 {
  position: relative;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  color: #777;
  height: 20px;
	background: white;
	border-radius: 5px 5px 0 0;
}


article.post {
  border-bottom: 1px solid #ccc;
  padding: 10px;
	padding-bottom: 35px;
	background: white;
}

.post .avatar {
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 10px;
}

.avatar img {
	width: 50px;
	height: auto;
	max-height: 50px;
	max-width: 50px;
	display: block;
	border-radius: 5px;
}

.post {
  position: relative;
}

.post .delete-post {
  color: #888;
  float: right;
  position: absolute;
  right: 7px;
  top: 0;
  font-weight: bold;
  font-size: 20px;
  display: none;
  padding: 0 7px;
}

.post:hover .delete-post {
  display: block;
}

.delete-post:hover {
  cursor: pointer;
  color: #555;
}

.post-info a {
  text-decoration: none;
  color: inherit;
}

.post .post-info {
	position: relative;
  width: 100%;
  height: 20px;
  margin-bottom: 5px;
}

.post-info .fullname {
	position: relative;
  font-weight: bold;
  float: left;
  color: black;
  height: 100%;
}

.post-info .username {
	position: relative;
  font-size: 14px;
	top: 1px; 
  float: left;
  color: #758695;
  padding-left: 8px;
  height: 100%;
}          
           
.post-info .timestamp {
	position: relative;
	padding-left: 8px;
	top: 3px;
  font-size: 12px;
  float: left;
  color: #758695;
  height: 20px;
}

.post-container {
  float: left;
  width: 480px;
  left: 60px;
  word-wrap: break-word;
}

.post-content a {
  text-decoration: none;
  color: black;
}

.buttons-container form {
  padding: 10px 15px 0 0;
  margin-bottom: 10px;
  display: inline-block;
}

.buttons-container button {
	padding: 7px 10px;
}

.profile-nav-ribbon.stretch {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 65px;
	background: white;
  z-index: -100;
}

.profile-nav-ribbon {
  position: relative;
	width: 560px;
	height: 65px;
	margin: 0 auto;
	background: transparent;
  z-index: -100;
}

.profile-nav-ribbon ul .left {
	float: left;
}

.profile-nav-ribbon ul .right {
	float: right;
}

.profile-nav li {
	padding-top: 40px;
}

.profile-nav a {
	text-decoration: none;
	margin-right: 10px;
	font-size: 18px;
}

.main-content .main-user-info {
	position: absolute;
	top: -196px;
}

.user-profile {
	width: 150px;
	height: 150px;
	margin: 10px;
	background: white;
	border-radius: 5px;
	float: left;
  z-index: -5;
}

.user-profile div {
	background: transparent;
}

.form-group {
	background: transparent;
}

.site-description {
	position: absolute;
	top: 100px;
	margin: 0 auto;
	background: rgba(0,0,0,0.35);
	color: white;
	padding: 30px;
	font-size: 24px;
	border-radius: 5px;
	width: 260px;
	left: 245px;
	text-align: right;
}

.user-form {
	position: relative;
	top: 100px;
	background: rgba(255, 255, 255, 0.65);
	border-radius: 5px;
	margin: 0 auto;
	padding: 10px;
	width: 350px;
	left: 165px;
}

.user-form label, .user-form input, .user-form textarea {
	background: transparent;
	float: left;
	padding: 5px 10px;
	width: 100px;
	margin-bottom: 10px;
}

.user-form input, .user-form textarea {
	width: 200px;
	float: right;
	background: white;
	border: 2px solid #154862;
	border-radius: 5px;
	outline: 0;
}

.user-form textarea {
	height: 80px;
}

.user-form input:focus, textarea:focus {
	outline: 0;
	border: 2px solid #E18A00;
	box-shadow: 0 0 2px 2px #E1A867;
}

.user-form button {
	float: right;
	border-bottom: 1px solid #154862;
}

.user-form button:hover {
	position: relative;
	background: #EC9103;
}

.user-form button:active {
	top: 1px;
	border-bottom: 0;
	background: #D48306;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
