#site-header {
  position: fixed;
  z-index: 100;
  top: 0;
  float: left;
  width: 1200px;
  min-width: 1000px;
  height: 45px;
}

.site-header h1 {
  top: 10px;
  left: 600px;
  width: 100px;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  color: #469AE9;
  background:transparent;
}

.site-header-nav {
  position: fixed;
  left: 50%;
  margin-left: -600px;
  width: 1200px;
  height: 45px;
  z-index: 1000;
}

.site-header li {
  padding: 18px 20px 0 20px;
  font-size: 18px;
  font-weight: bold;
}

.site-header a {
	position: relative;
	bottom: 8px;
  text-decoration: none;
  padding-bottom: 10px;
  color: #469AE9;
}

.site-header a:hover {
  color: teal;
  border-bottom: 4px solid teal;
}

.site-header-nav li.left {
  display: inline-block;
  float: left;
}

.site-header-nav li.right {
  display: inline-block;
  float: right;
}

.site-header img {
	height: 40px;
	width: auto;
	position: absolute;
	top: 0;
	left: 545px;
	margin: 0 auto;
}

.site-header .dropdown-parent {
	position: relative;
	padding-top: 8px;
	padding-bottom: 0;
}

img#user-dropdown {
	width: 32px;
	height: auto;
	max-height: 32px;
	position: relative;
	left: 0px;
	top: 16px;
	padding: 0;
	transform: translateY(-25%);

}

.site-header-nav .user-menu {
	width: 100px;
	padding: 0;
	padding-top: 10px;
	border: 1px solid black;
	position: absolute;
	right: 0;
	top: 45px;
	display: none;
	transition: background .1s;
	border-radius: 5px;
	
	li {
		font-size: 16px;
		padding: 5px;
		padding-bottom: 5px;
		background: transparent;
		border-bottom: #ccc;
		bottom: 0;
		
		a:hover {
			border: 0;
		}
	}
	
	form .sign-out {
		background: transparent;
		font-style: normal;
	}
	
	form .sign-out, a {
		padding-left: 5px;
		font-size: 14px;
		color: #469AE9;
	}
	
	form .sign-out:hover, a:hover {
		color: teal;
	}
}

.user-menu.active.transitioning {
	height: 20px;
	display: block;
	background: transparent;
	
	li {
		display: none;
	}
}

.user-menu.active {
	height: auto;
	display: block;
	
	li {
		display: block;
	}
}



.site-header button {
	position: relative;
	bottom: 9px;
}