<section class="top">
  <div class="avatar"></div>
</section>

<section class="names">
  <div class="fullname"></div>
  <div class="username"></div>
</section>

<section class="bottom titles">
  <div class="count-title">POSTS</div>
  <div class="count-title">FOLLOWING</div>
  <div class="count-title">FOLLOWERS</div>
</section>

<section class="bottom counts">
  <div class="post count"></div>
  <div class="following count"></div>
  <div class="follower count"></div>
</section>