<section id="body-top">
  <header id="site-header" class="site-header group">
    <a id="sign-in" href="#" class="right">Sign In</a>
    <a id="sign-up" href="#" class="right">Sign Up</a>
  </header>
</section>

<section id="body-bottom">
BAKBON
  <form class="user-form sign-in" action="#">
  	<label for="username">Username</label>

  	<input type="text"
  				 id="username"
  				 name="user[username]"
  				 placeholder="Enter your username">

  	<label for="password">Password</label>
  	<input type="password"
  	 			 id="password"
  				 name="user[password]"
  				 placeholder="Enter your password">

  	<button id="sign-in" class="submit">Sign In</button>
  </form>
</section>
