<section id="body-top">
  <header id="site-header" class="site-header group">
    <a id="sign-in" href="#" class="right">Sign In</a>
    <a id="sign-up" href="#" class="right">Sign Up</a>
  </header>
</section>

<section id="body-bottom">
	<article class="site-description">
		Welcome to Chattr!
		Keep up with the latest trends around the world, 
		follow your favorite users and share your thoughts!
	</article>

  <form class="user-form sign-in group" action="#">
		<div class="form-group group">
	  	<label for="username">Username</label>

	  	<input type="text"
	  				 id="username"
	  				 name="user[username]"
	  				 placeholder="Enter your username">
		</div>

		<div class="form-group group">
	  	<label for="password">Password</label>
	  	<input type="password"
	  	 			 id="password"
	  				 name="user[password]"
	  				 placeholder="Enter your password">
	 </div>
		<div class="form-group group">
	  	<button id="sign-in" class="submit">Sign In</button>
		</div>
  </form>
</section>
