<div id="body-top"></div>
<div id="body-bottom">
  <main id="main-content">
    <main id="inner-content">
      <section class="index-profile"></section>
      <section class="post-container"></section>
    </main>
  </main>
</div>
